html {
  position: relative;
  min-height: 100%;
}

.alertgif {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
}

.userAppear {
    display: none;
    animation: opacityOnAndOff 5s ease 10 normal;
}

@keyframes opacityOnAndOff {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}