<svg id="gaugeSentiment" width="90%" height="90%" style="margin-left: 5%;margin-right: 5%"></svg>
<h5 id="gaugeSentimentLabel" style="text-align: center"></h5>
@section scripts {

    <script>
        var percentColors = [
            { pct: 0.0, color: { r: 0xff, g: 0x00, b: 0 } },
            { pct: 0.5, color: { r: 0xff, g: 0xff, b: 0 } },
            { pct: 1.0, color: { r: 0x00, g: 0xff, b: 0 } },
        ];

        var getColorForPercentage = function (pct) {
            for (var i = 1; i < percentColors.length - 1; i++) {
                if (pct < percentColors[i].pct) {
                    break;
                }
            }
            var lower = percentColors[i - 1];
            var upper = percentColors[i];
            var range = upper.pct - lower.pct;
            var rangePct = (pct - lower.pct) / range;
            var pctLower = 1 - rangePct;
            var pctUpper = rangePct;
            var color = {
                r: Math.floor(lower.color.r * pctLower + upper.color.r * pctUpper),
                g: Math.floor(lower.color.g * pctLower + upper.color.g * pctUpper),
                b: Math.floor(lower.color.b * pctLower + upper.color.b * pctUpper)
            };
            return 'rgb(' + [color.r, color.g, color.b].join(',') + ')';
            // or output as hex if preferred
        };

        var config = liquidFillGaugeDefaultSettings();
        config.minValue = 0;
        config.maxValue = 100;
        config.textVertPosition = 0.8;
        config.waveAnimateTime = 5000;
        config.waveHeight = 0.15;
        config.waveAnimate = true;
        config.waveOffset = 0.25;
        config.valueCountUp = false;
        config.displayPercent = true;

        var gauge4 = loadLiquidFillGauge("gaugeSentiment", 50, config);

        connection.on("ReceiveGaugeSentiment", function (sentiment) {
            var sentiment_value = Number(sentiment);
            // normalize to 0~1
            sentiment_value += 1;
            sentiment_value /= 2;

            gauge4.update((sentiment_value * 100).toFixed(0), getColorForPercentage(sentiment_value));
        });

        connection.on("ReceiveAverageSentimentLabel", function (sentimentLabel) {
            document.getElementById("gaugeSentimentLabel").innerHTML = sentimentLabel;
        });
    </script>
}