@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>

<img class="alertgif" id="alertdevastante" src="https://media.giphy.com/media/fVDWqUcVscRxCkQVAR/200w_d.gif" />

<audio id="sounddevastante"
       src="~/spfx/devastante.mp3">
    Your browser does not support the
    <code>audio</code> element.
</audio>