@{
    ViewData["Title"] = "Home Page";
}

<img class="alertgif" id="alertdevastante" src="https://media.giphy.com/media/fVDWqUcVscRxCkQVAR/200w_d.gif" />

<img class="alertgif" id="alertdio" src="https://media1.tenor.com/images/c0945841a8cea8da4351a9f892288507/tenor.gif?itemid=8832132" />

<img class="alertgif" id="alertphp" src="https://i.imgur.com/O4CgHJG.gif" />

<img class="alertgif" id="alertfriday" src="https://media.giphy.com/media/26gsv0tbVbQqCZwAg/giphy.gif" />

<img class="alertgif" id="alertdisagio" src="https://i.imgur.com/lmPrHzoh.jpg" />

<img class="alertgif" id="alertansia" src="https://i.imgur.com/5Zt13Ilh.jpg" />

<img class="alertgif" id="alertaccompagnare" src="/img/accompagnare.jpg" />

<img class="alertgif" id="alertkasu" src="/img/kasu.gif" />

<img class="alertgif" id="alertgren" src="/img/gren.jpg" />

<img class="alertgif" id="alertdebug" src="/img/debug.gif" />

<video class="alertgif" id="alertmerda" autoplay="autoplay">
    <source src="/img/merda.mp4" type="video/mp4" />
</video>

<img class="alertgif" id="alertexcel" src="https://media.discordapp.net/attachments/488341298445549568/763654797429047306/121089450_1476976829171640_9052994754153725829_o.png?width=695&height=685" />

<div class="userAppear" id="userAppear" style="display: none;top: 500px;position: absolute;left: 20px;">
    <div class="media">
        <img class="mr-3" src="https://media1.tenor.com/images/33aefc1608d62418b5b9eef74b4694ec/tenor.gif?itemid=15567609" alt="Generic placeholder image" height="64">
        <div class="media-body" style="margin-top: 20px"><span class="username"></span> è apparso sul canale...</div>
    </div>
</div>

<img class="alertgif" id="alertpaura" src="/img/paura.png" />

<audio id="sounddevastante"
       src="~/spfx/devastante.mp3">
    Your browser does not support the
    <code>audio</code> element.
</audio>

<audio id="sounddio"
       src="~/spfx/dio_1.mp3">
    Your browser does not support the
    <code>audio</code> element.
</audio>

<audio id="soundpaura"
       src="~/spfx/paura.mp3">
    Your browser does not support the
    <code>audio</code> element.
</audio>
